@import url("/fonts/iosevka-term-ss15.css");
@font-face {
  font-family: 'Literata';
  src: url('/fonts/variable/Literata-VariableFont_opsz,wght.ttf') format("truetype-variations");
  font-weight: 1 999;
  font-display: swap;
}

$bgColor: #000;
$textColor: rgba(255, 255, 255, 0.8);
$headColor: #e78a53;
$uLinkColor: #fbcb97;
$vLinkColor: $textColor;
$greyColor: #888888;
$darkGreyColor: #202020;
$selectionColor: #333;
$codeBGColor: #fbcb970c;
$codeColor: #919191;

$serifFontFamily: "Literata", "PT Serif", Georgia, Times, "Times New Roman", serif;
$sansSerifFontFamily: "Literata", "Inter", sans-serif;
$monospaceFontFamily: "Iosevka Term SS15 Web", monospace;

$nonMonospaceFontFamily: $sansSerifFontFamily;

:root {
	color-scheme: dark;
}

html,
body {
	background: $bgColor;
	color: $textColor;
	padding: 0.3rem;
	margin: 0.3rem;
	text-rendering: optimizeLegibility;
	font-variant-ligatures: contextual;

	font-family: $serifFontFamily;
	font-weight: 400;
	font-size: 16.5px;
	line-height: 1.6;
	letter-spacing: -0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $uLinkColor;
	font-family: $sansSerifFontFamily;
	font-weight: 900;
}

h1.page_title {
	font-weight: 900;
	font-size: 250%;
	line-height: normal;
	color: $uLinkColor;
	margin-bottom: 1rem;
}

a {
	text-decoration: underline;
	color: $vLinkColor;

	&:visited {
		color: $vLinkColor;
		text-decoration: none;
	}
	&:active {
		color: $uLinkColor;
	}

	&:hover {
		color: $uLinkColor;
	}

	&.site_title {
		text-decoration: none;
		margin-bottom: 0.2rem;
		color: $headColor;
		font-weight: 900;
		list-style: 1;
	}

	&.site_nav {
		&:hover {
			text-decoration: underline;
		}
		text-decoration: none;
		color: $headColor;
	}
	&.homepage-list_title {
		&:hover {
			text-decoration: underline;
		}
		text-decoration: none;
		font-weight: bold;
		font-family: $sansSerifFontFamily;
		color: $uLinkColor;
	}
	code {
		text-decoration-color: $codeColor;
	}
}

.pipe {
	color: $darkGreyColor;
}

time.site_time {
	font-size: 90%;
	color: $greyColor;
}

span.page_time {
	padding: 1.2rem auto;
	color: $greyColor;
}

:target {
	background-color: $bgColor;
}

hr {
	border: none;
	height: 1px;
	background-color: $darkGreyColor;
}

::selection {
	background: $selectionColor;
}

main {
	margin: auto;
	max-width: 650px;
}

header {
	padding-top: 1rem;
	padding-bottom: 0rem;
	font-weight: 900;
}

code {
	font-family: $monospaceFontFamily;
	letter-spacing: normal;
	// padding-left: 0.25rem;
	// padding-right: 0.25rem;
	color: $codeColor;
	a {
		text-decoration-color: $codeColor;
	}
}

pre {
	font-size: 16px;
	font-family: $monospaceFontFamily;
	font-weight: 500;
	letter-spacing: normal;
	line-height: 1.5;
	overflow: auto;
	border: thin solid $darkGreyColor;
	margin: 2rem 0rem;
	padding: 1.5rem;
	background-color: $bgColor;
	code {
		color: inherit;
		background-color: inherit;
	}
}

table {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	border: 1px solid $darkGreyColor;
	padding: 1.1rem;
}

img {
	height: auto;
	margin: 2rem 0rem;
	max-width: 100%;
}

.homepage-list,
.taxonomies__list {
	list-style: none;
	padding: 1rem 0;

	li {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 10px;
	}
}

.center {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	text-align: center;
}

.imageClass, .videoClass {
	padding: 0.5rem;
	figure {
		display: table;
		img {
			user-select: none;
		}
		figcaption {
			display: table-caption;
			caption-side: bottom;
			padding: 0.2rem;
			margin: 0.2rem auto;
			background-color: $uLinkColor;
			color: $bgColor;
			&::selection {
				background-color: $headColor;
			}
		}
	}
}

@media (max-width: 38rem) {
	.homepage-list li a {
		width: 100%;
	}
}

footer {
	margin-top: 2rem;
	color: $greyColor;
}

.pagination_title {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid $darkGreyColor;
	line-height: 0.1em;
	margin: 2.5rem auto;
	span {
		background: $bgColor;
		font-size: 0.8rem;
		padding: 0 10px;
	}
}

.post_nav {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 2.5rem auto 4rem auto;
	.button {
		position: relative;
		display: inline-flex;
		flex: 1;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		text-decoration: none;
		margin: auto 1.5rem;
		font-weight: bold;
		.previous,
		.next {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}

.time_tag_sep {
	padding: 0.5rem;
	color: $greyColor;
	user-select: none;
}

.post_tags {
	a {
		padding: 0 0.5rem 0 0;
		color: $greyColor;
		text-decoration: none;
		&:hover {
			color: $uLinkColor;
		}
	}
}

.taxonomies__title {
	color: $greyColor;
}
.taxonomies__list {
	a {
		text-decoration: none;
	}
}

// toc commons
#toc-inline, #toc-aside {
	font-size: 90%;
	line-height: 1.6;
	color: $greyColor;
	a {
		color: $greyColor;
		text-decoration: none;

		&:hover {
			color: $uLinkColor;
		}
	}
	ul {
		padding-left: 1rem;
	}
	li li {
		list-style: disc;
	}

	li.active > a {
		color: $uLinkColor;
		font-weight: bold;
	}
}

// inline toc
#toc-inline {
	font-family: $sansSerifFontFamily;
	padding: 1.25rem 0rem 0.5rem 0rem;
	summary {
		&:hover {
			cursor: pointer;
			color: $uLinkColor;
		}
	}
}

// aside toc
#toc-aside {
	font-family: $sansSerifFontFamily;
	display: block;
	width: 15rem;
	position: sticky;
	float: left;
	top: 3.5rem;
	margin-top: -1.2rem;
	margin-left: -20rem;
}

// such responsive, much wow
@media (max-width: 80rem) {
	#toc-aside {
		display: none;
	}
}

// such responsive, much wow
@media (min-width: 80rem) {
	#toc-inline {
		display: none;
	}
}

sup {
    line-height: 0;
}

.footnote-reference {
	&:after {
	content: "]"
	}

	&:before {
	content: "["
	}
	color: $uLinkColor;

	a {
		color: $uLinkColor;
		text-decoration: none;
	}
}

hr {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.footnote-definition {
    display:flex; 
    flex-direction: row;
    font-size: 0.85rem;
    sup {
        all: initial; // have to fight with the markdown parsing
        color: $textColor;
        text-rendering: optimizeLegibility;
        font-variant-ligatures: contextual;
        font-family: $nonMonospaceFontFamily;
        font-weight: 450;
        font-size: 1rem;
        line-height: 1.58;
        letter-spacing: -0.02em;

        font-size: 0.7rem;
        margin: 0rem;
        margin-right: 0.5rem;
    }

	p {
		margin: 0rem;
		margin-bottom: 1rem;

        .footnote-backlink {
            margin: 0rem;
            margin-left: 0.5rem;

            color: $uLinkColor;
            text-decoration: none;
        }
	}
}
