{% extends "index.html" %}

{% block title %}{{ page.title }} &middot; {{ config.title }}{% endblock title %}
{% block description %}{{ page.description | default(value=config.description) }}{% endblock description %}

{% block ogtitle %}{{ page.title }}{% endblock ogtitle %}
{% block ogdesc %}{{ page.description }}{% endblock ogdesc %}
{% block ogurl %}{{ page.permalink | safe }}{% endblock ogurl%}
{% block ogimage -%}
  {%- if page.extra.image -%}{{ get_url(path=page.extra.image) | safe }}
  {%- elif config.extra.ogimage -%}{{ get_url(path=config.extra.ogimage) | safe }}
  {%- endif -%}
{%- endblock ogimage %}


{% block content %}
<article>
  <h1 class="page_title">{{ page.title }}</h1>

  {% if page.date %}
    <span class="page_time">Posted on <time datetime="{{ page.date | date(format="%+") }}">{{ page.date | date(format="%B %d, %Y") }}</time></span>
    {% if page.taxonomies.tags %}
    <span class="time_tag_sep">&middot;</span>
    <span class="post_tags">
        {% for tag in page.taxonomies.tags %}
            <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">#{{ tag }}</a>
        {% endfor %}
    </span>
    {% endif %}
  {% endif %}

  {% block toc %}
  {% if page.toc and not page.extra.notoc %}
    {{ macros::toc_inline(toc=page.toc) }}
    {{ macros::toc_aside(toc=page.toc) }}
  {% endif %}
  {% endblock toc %}

  {{ page.content | safe }}
</article>

{% if page.earlier or page.later %}
  <div class="pagination_title">
    <span>Read other posts</span>
  </div>
  <div class="post_nav">
      {% if page.later %}
        <div class="button">
          <a class="button" href="{{ page.later.permalink }}">
            ←&nbsp;
            <span class="next">
              {{ page.later.title }}
            </span>
          </a>
        </div>
      {% endif %}
      {% if page.earlier %}
        <div class="button">
          <a class="button" href="{{ page.earlier.permalink }}">
            <span class="previous">{{ page.earlier.title }}</span>
            &nbsp;→
          </a>
        </div>
      {% endif %}
    </div>
{% endif %}
{% endblock content %}

{% block scripts %}
 <script src={{ get_url(path="js/page.js") | safe }}></script> 
{% endblock scripts %}